@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,600');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,500|Reem+Kufi');


$mainFont: "Roboto",sans-serif;
$headings:  "Raleway" ,sans-serif;
$subHeadings:  "Raleway" ,sans-serif;
$bpTablet: 639px;
$bpDesktop:800px;
$bpWideDesk: 1279px;
$bpHugeDesk: 1920px;


$white :   #ffffff;
$black :   #231f20;
$darkGrey: #333333;
$lightGrey:#b3b7ba;

