@import "normalize";
@import "compass";
@import "susy";
@import "variables";
@import "mixins";

@import "compass/css3";

@include keyframes(bounce) {
	0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
	40% {
    @include transform(translateY(-30px));
  }
	60% {
    @include transform(translateY(-15px));
  }
}


body{
  background:$white;
  color:$darkGrey;
  font-family: $mainFont;
}
h1,h2,h3,h4,h5,h6{
  margin:0;
  font-family:$headings;

}
#fp-nav{
  display:none;
  @include susy-breakpoint($bpDesktop) {
   
      display: block;
   
  }
}
 .mainHeader{
    position:fixed;
    width:100%;
     display:none;
    z-index:100;
    
  }

.logo{
  transition:all .3s ease-out; 
  text-indent: -99999px;
  display:block;
  background: url(../images/logo-weblicious.svg) center top no-repeat;
 height:100px;
 
  position:relative;
  z-index: 1000;
      @include susy-breakpoint($bpTablet) {
      height:210px;

      }
 
}
h1{  
  
  margin: 0 auto;    
  font-family: $headings, serif;
  text-align: center;
  font-size:3.7rem;
  font-weight:500;
  letter-spacing: -3px;
  line-height:3rem;
  transition:all .3s ease-out; 
  text-transform: uppercase;  
  em{
    display:block;
    font-family: $subHeadings;
    font-weight:400;
    font-size:2rem;
    text-transform: capitalize;
    font-style: normal;
     transition:all .3s ease-out; 
  }
   
  &:after{
    content:" ";
    display:block;
    background: $darkGrey;
    width:70px;
    height:5px;    
    margin:4vh auto ;
    

  }

 

  @include susy-breakpoint($bpTablet) {
    margin:5vh auto 0 auto;   
    font-size:6.5rem;
    letter-spacing: -5px;
     line-height:5rem;

     em{
      font-size:4rem;
       letter-spacing: -2px;
    }
  }

    @include susy-breakpoint($bpDesktop) {
     margin:5vh auto 0 auto;    
    width:960px;

    
 
 }
}

h2{
  color:$white;
  text-transform:uppercase;
  em{
    font-style:normal;
    font-weight:200;
    &:before{
      content:"[";
    }
    &:after{
      content: "]";
    }
  }
  @include susy-breakpoint($bpTablet) {
    font-size:3rem;

      
  }
  
}
p{
  font-weight: 100;
  font-size:1rem;
  @include susy-breakpoint($bpTablet) {
    font-size:1.3rem;
  }
    @include susy-breakpoint($bpDesktop) {
        font-size:1.2rem;
    }
}

.button{
cursor:pointer;
}

.arrowDown{
  @include animation(bounce 2s infinite);
 position: fixed;
  bottom: 10px;
  left: 50%;
  margin-left:-20px;
  width: 40px;
  height: 40px;
  line-height:40px;
  text-align: center;
  border:1px solid $darkGrey;
  border-radius:50%;
  z-index:1500;  

  span{
    display:none;
  }
 @include susy-breakpoint($bpTablet) {
 bottom: 25px;
 }  
  @include susy-breakpoint($bpHugeDesk) {
 bottom: 50px;
 }  
}


.weblicious{
 
  .geometry{
    position:absolute;
    top:0;   
    display:none;
    @include susy-breakpoint($bpDesktop) {
      display:block;
    }
  }
  h1{
    position:relative;
    z-index:10;
    top:1vh;

    
  }
  .contactButton{
    cursor:pointer;
    position:relative;
    z-index:220;
    display:block;
    width:180px;
    text-align:center;
    margin:50px auto 50px auto;;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:400;
    color:$white;
    background:$darkGrey;
    border:1px solid $darkGrey;
    line-height:50px;
      &:before{
        content:" ";
        display:block;
        background:$white;
        width:0px;
        height:50px;
        position:absolute;
        transition:all .2s ease-out; 
      }
      &:after{
        content:"Get In Touch";
         width:180px;
        position:absolute;
        top:0;
        left:0;
         transition:all .5s ease-out; 
         color:$white;
          font-weight:400;
      }
      &:hover{
        &:before{        
          width:180px;    
         
        }
        &:after{
          color:$darkGrey;
          
        }
    }

  }


}




.section2{
  
  overflow:hidden;
   border-bottom:8px solid #4F1633;   
   position:relative;
   .wrapper{
     @include span(11 of 12);
        z-index:500;
        position:relative;
        padding:5vh 0 0 5vw;
     
   p{
     color:$white;
   }  

   
    @include susy-breakpoint($bpTablet) {
      padding:7vh 0 0 5vw;
    }
     @include susy-breakpoint($bpDesktop) {
      @include span(7 of 12);
           padding:15vh 0 0 5vw;
    }
    @include susy-breakpoint($bpWideDesk) {
       @include span(5 of 12);
           padding:15vh 0 0 5vw;
    }

 
     @include susy-breakpoint($bpHugeDesk) {
       @include span(4 of 12);

     }
   }

.tigascene, .layer {   
      
    padding: 0;
    margin: 0;
    text-indent:-9999px;
   
}
  ul{

   .layer{

    height: 100vh;
    width: 100vw;
   }
   .img1{     
    
    width: 100vw;
    height:100vh;
    background:url(../images/badass-website-bg.jpg) no-repeat -25vw 0vh;
    background-size: cover;

   
      @include susy-breakpoint($bpTablet) {
        background-position:-40vw 0 ; 

      }
   @include susy-breakpoint($bpDesktop) {
    background-position:0 center ; 

    }

     @include susy-breakpoint($bpWideDesk) {
           background-position:center center ; 

    } 

    

   }
   .img2{
     
    width: 110vw;
    height:100vh;
    background:url(../images/badass-website-tiga2.png) 60% 35vh  no-repeat;
    background-size: cover;
   
     @include susy-breakpoint($bpTablet) {
        background-position:-90vw 30vh ; 

      }

     @include susy-breakpoint($bpDesktop) {
    background-position:-15vw 30vh ; 

    }     
        @include susy-breakpoint($bpWideDesk) {
           background-position:-5vw 10vh ; 

    } 
   }
   .img3{
   
     
    width: 100vw;
    height:100vh;
    background:url(../images/badass-website-lines.png) 100% 0 no-repeat;
    background-size: cover;

   }
  }

}
